/*--------------------------------------------------------------
# home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: calc(100vh - 40px);
    background: url(../../images/bg.jpg)
      center center no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 40px;
  }
  
  
  #home .home-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #home h1 {
    margin: 0 0 10px 0;
    font-family: 'Lobster Two', cursive;
    font-size: 130px;
    font-weight: 700;
    line-height: 56px;
    /* font-family: "Philosopher", sans-serif; */
    /* color: #021f42; */
    color: #fff;
  }
  
  
  
  #home h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 28px;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 300;
  }
  
  
  #home img {
    max-width: 95%;
    margin-bottom: 30px;
  }
  
  #home .btn-get-started {
    /* font-family: "Roboto", sans-serif; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 4px solid #07e0bb;
    background: #fff;
    color: #021f42;
    text-decoration: none;
  }
  
  #home .btn-get-started:hover {
    background: #021f42;
    color: #fff;
  }
  
  #home .btns a {
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 4px 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  
  
  #home .btns a:hover {
    color: #021f42;
  }
  